<!doctype html>
<html lang="en" ng-app="modelosModulo">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.ico">

    <title>Maverick!</title>
    <!-- link API angular 1.13-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>

    <!--modelosController-->
    <script src="controller/modelosController.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/oficinaEstilos.css" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- bicliotecas do java script/ jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- link modelos.js -->
    <script src="js/modelos.js"></script>
</head>

<body ng-controller="modelosController">
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MAVERICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clientes.html">Clientes</a>
                    </li>
					<li class="nav-item">
			          	<a class="nav-link" href="usuarios.html" ng-if="perfil == 'admin'" >Usuarios</a>
			        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Estoque
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
                            <a class="dropdown-item" href="produtos.html">Produtos</a>
                            <a class="dropdown-item" href="estoques.html">Estoque</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown active">
			            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			              Carros
			            </a>
			            <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
			              <a class="dropdown-item" href="marcas.html">Marcas</a>
			              <a class="dropdown-item active" href="modelos.html">Modelos</a>
			            </div>
			          </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ordem de Serviço(OS)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                            <a class="dropdown-item" href="lancaros.html">Lançar OS</a>
                            <a class="dropdown-item" href="ospendente.html">OS abertas</a>
                            <a class="dropdown-item" href="osencerradas.html">OS fechadas</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn btn-outline-warning" ng-click="sair()">Sair</a>
        </nav>
     </header>

    <form>
        <br>
        <div class="container">
            <!-- container principal - inicio -->
            <h1 align="center">Modelos de Carro</h1>
            <br>
            <nav><!--div de abas(titulos) - inicio -->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-lista-tab" data-toggle="tab" href="#nav-lista" role="tab" aria-controls="nav-home" aria-selected="true">Lista</a>
                    <a class="nav-item nav-link" id="nav-cadastro-tab" data-toggle="tab" href="#nav-cadastro" role="tab" aria-controls="nav-profile" aria-selected="false" ng-click="limparCampos()">Cadastro</a>
                </div>
                <!--div de abas - fim -->
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- aba de abas(conteudos) - inicio-->
                <div class="tab-pane fade show active" id="nav-lista" role="tabpanel" aria-labelledby="nav-lista-tab">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="5" align="right">Pesquisar modelos:
                                <input type="text" ng-model="pesquisaModelo" id="pesquisa" placeholder="Pesquisa de modelos...">
                            </td>
                        </tr>
                        <th>Código</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Ano</th>
                        <th>Nº de portas</th>
                        <tr class="chamaAba" onclick="chamaAba()" ng-repeat="modelosTabela in modelos | filter:pesquisaModelo" ng-dblclick="selecionaModelo(modelosTabela)">
                            <td>{{modelosTabela.codModelo}} </td>
                            <td>{{modelosTabela.nomeModelo}}</td>
                            <td>{{modelosTabela.marcaModel.nomeMarca}}</td>
                            <td>{{modelosTabela.ano}}</td>
                            <td>{{modelosTabela.qtdPortas}}</td>
                        </tr>
                    </table>
                </div>

                <!-- Aba Cadastro - Inicio -->
                <div class="tab-pane fade" id="nav-cadastro" role="tabpanel" aria-labelledby="nav-cadastro-tab">
                    <br>
                    <div class="form-group row">
                        <label align="right" for="codModelo" class="col-sm-1 col-form-label">Código:</label>
                        <div class="col-sm-1">
                            <input type="number" disabled ng-model="modelo.codModelo" class="form-control" id="codModelo">
                        </div>
                        <label align="right" for="marca" class="col-sm-1 col-form-label"><span class="obg">*</span>Marca:</label>
                        <div class="col-sm-5">
                          <select class="form-control" ng-model="modelo.marcaModel" id="marca"
                            ng-options="marca.nomeMarca for marca in marcas track by marca.codMarca">
                          </select>      
                        </div>
                        
                        <label align="right" class="col-sm-2 col-form-label" for="qtdPortas" >Número de Portas:</label>
                        <div class="col-sm-1">
                            <input type="number" style="width:100px" ng-model="modelo.qtdPortas" class="form-control" id="qtdPortas" min="2" max="5">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label align="right" for="nomeModelo" class="col-sm-1 col-form-label"><span class="obg">*</span>Nome:</label>
                        <div class="col-7">
                            <input type="text" ng-model="modelo.nomeModelo" class="form-control" id="nomeModelo">
                        </div>
                        <label align="right" class="col-sm-2 col-form-label" for="ano" >Fabricado ano:</label>
                        <div class="col-sm-1">
                            <input type="number" style="width:100px" ng-model="modelo.ano" class="form-control" id="ano">
                        </div>
                    </div>

                    <div align="center">
                        <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
                        <button type="submit" ng-click="salvar()" class="btn btn-primary">Salvar</button>
                        <button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
                <!-- Aba Cadastro - Fim -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
            <!-- aba de abas(conteudos) - fim-->
        </div>
        <!-- container principal - fim -->

    </form>

    <!-- FOOTER -->
    <br>
    <br>
    <footer class="container">
      <!--   <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>

	 <!-- Modal - mensagens - inicio-->
	<div class="modal fade" id="modalMensagens" tabindex="-1" role="dialog" aria-labelledby="modalMensagens" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="pTitulo"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="pMsg"></p>
	      </div>
	      <div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" ng-click="fecharModalMensagens()">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal - mensagens - fim-->
	
    <!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>

</html>