<!doctype html>
<html lang="en" ng-app="osPendenteModulo">
<head>
<meta charset="utf-8">
<link rel="icon" href="img/favicon.ico">

<title>Maverick!</title>
<!-- link API angular 1.13-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>

<!--osPendenteController-->
<script src="controller/osPendenteController.js"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">

<link href="css/oficinaEstilos.css" rel="stylesheet">

<!-- bicliotecas do java script/ jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- link osPendente.js -->
<script src="js/osPendente.js"></script>

</head>
<body ng-controller="osPendenteController">
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MAVERICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="index.html">Início
                            <span class="sr-only">(current)</span>
                    </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="parceiros.html">Parceiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usuarios.html" ng-if="perfil == 'admin'">Usuarios</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Estoque
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
                            <a class="dropdown-item" href="produtos.html">Produtos</a>
                            <a class="dropdown-item" href="estoques.html">Estoque</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown"><a
                        class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Carros </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                            <a class="dropdown-item" href="marcas.html">Marcas</a> <a
                                class="dropdown-item" href="modelos.html">Modelos</a>
                        </div></li>
                    <li class="nav-item dropdown active"><a
                        class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ordem de Serviço(OS) </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                            <a class="dropdown-item" href="lancaros.html">Lançar OS</a> <a
                                class="dropdown-item active" href="ospendente.html">OS's Pendentes</a> <a
                                class="dropdown-item" href="osencerradas.html">OS's encerradas</a>
                        </div></li>
                </ul>
            </div>
            <a href="#" class="btn btn-outline-warning" ng-click="sair()">Sair</a>
        </nav>
    </header>

    <form>
        <br>
        <div class="container">
            <!-- container principal - inicio -->
            <h1 align="center">Ordem de Serviço Pendente</h1>
            <br>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!--div de abas(titulos) - inicio -->
                    <a class="nav-item nav-link active" id="nav-lista-tab" data-toggle="tab" href="#nav-lista" ng-click="listarOsPendente()"
                        role="tab" aria-controls="nav-home" aria-selected="true">Lista</a>
                    <a class="nav-item nav-link" id="nav-cadastro-tab" href="#nav-cadastro" ng-click="limparCampos()"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Cadastro</a>

                </div>
                <!--div de abas  - fim -->
            </nav>
            <!-- aba de abas(conteudos) - inicio-->
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-lista"
                    role="tabpanel" aria-labelledby="nav-lista-tab">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="6" align="right">Pesquisar OS: <input type="text" ng-model="pesquisaOS" id="pesquisa" placeholder="Pesquisa de OS..."></td>
                        </tr>
                        <th>Número</th>
                        <th>Parceiro</th>
                        <th>Data de abertura</th>
                        <th>Carro</th>
                        <th>Placa</th>
                        <th>Valor</th>
                        <tr class="chamaAba" onclick="chamaAba()" ng-repeat="osTabela in osPendentes | filter:pesquisaOS" ng-dblclick="selecionaOs(osTabela);listarItensOs();">
                            <td>{{osTabela.numOs}}</td>
                            <td>{{osTabela.parceiroModel.nomeParceiro}}</td>
                            <td>{{osTabela.dhAbertura | date:'dd/MM/yyyy - HH:mm'}}</td>
                            <td>{{osTabela.modeloModel.nomeModelo+' / '+osTabela.modeloModel.qtdPortas+'P / '+osTabela.modeloModel.ano}}</td>
                            <td>{{osTabela.placaCarro}}</td>
                            <td>{{osTabela.valorTotal | currency : "R$ "}}</td>
                        </tr>
                    </table>
                </div>

                <!-- Aba Cadastro - Inicio -->
                <br>
                <div class="tab-pane fade" id="nav-cadastro" role="tabpanel" aria-labelledby="nav-cadastro-tab">
                    
                    <div class="form-group row">
                        <label align="right" for="numos" class="col-sm-1 col-form-label">Nº OS:</label>
                        <div class="col-sm-2">
                            <input type="number" disabled ng-model="osPendente.numOs" class="form-control" id="numOs">
                        </div>
                        
                        <label align="right" for="dhabertura" class="col-sm-2 col-form-label">Data abertura:</label>
                        <div class="col-3">
                            <div class="form-control" style="background-color:#e9ecef" id="qtdEstoque">{{osPendente.dhAbertura | date:'dd/MM/yyyy - HH:mm'}}</div>
                        </div>
                        
                        <label align="right" for="dhencerramento" class="col-sm-2 col-form-label" style="display:none;">Data encerramento:</label>
                        <div class="cpf col-sm-2">
                            <input class="form-control" disabled ng-model="osPendente.dhEncerramento" type="text" style="display:none;" />
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        
                        <label align="right" for="tipoOs" class="col-sm-1 col-form-label">Tipo OS:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" disabled ng-model="osPendente.tipoOs" id="tipoOs"> </input>
                        </div>
                        
                        <label align="right" for="osPendente.valorTotal" class="col-sm-2 col-form-label">Valor total da OS:</label>
                        <div class="cnpj col-sm-3">
                            <div class="form-control" id="valorTotal" style="background-color:#e9ecef">{{osPendente.valorTotal | currency : "R$ "}} </div>
                        </div>
                                                            
                    </div>
                    <hr>
                    
                    <div class="form-group row">
                        <label align="right" for="parceiro" class="col-sm-1 col-form-label">Parceiro:</label>
                        <div class="col-sm-4">
                            <input type="text" disabled class="form-control" id="parceiro">
                        </div>
                        <div class="col-sm-1" align="left">
                            <button class="btn" id="dropdownPesquisaCarro"  data-toggle="modal" data-target="#modalPesquisaParceiro" ng-click="listarParceiros()">Pesquisar</button>
                        </div>
                        
                        <label class="col-sm-2 col-form-label" align="right" for="telefone">Telefone:</label>
                        <div class="col-sm-2">
                            <input class="form-control" disabled ng-model="osPendente.parceiroModel.telefone" type="text" id="telefone" />
                        </div>
                        
                    </div>
                    
                    <div class="form-group row">
                    
                        <label align="right" for="carro" class="col-sm-1 col-form-label">Carro:</label>
                        <div class="col-sm-4">
                            <input type="text" disabled class="form-control" id="nomeModeloCar" >
                        </div>
                        
                        <div class="col-sm-1" align="left">
                            <button class="btn" id="dropdownPesquisaCarro"  data-toggle="modal" data-target="#modalPesquisaCarro" ng-click="listarModelos()" >Pesquisar</button>
                        </div>
                    
                        <label align="right" for="placa" class="col-sm-2 col-form-label">Placa do carro:</label>
                        <div class="col-sm-2">
                            <input type="text" disabled class="form-control" id="placaCarro" ng-model="osPendente.placaCarro" />
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label align="left" for="problema" class="col-sm-1 col-form-label">Problema:</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" ng-model="osPendente.problema" id="problema"></textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label align="left" for="solucao" class="col-sm-1 col-form-label">Solução:</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" ng-model="osPendente.solucao" id="solucao"></textarea> 
                        </div>
                    </div>
                
                    <hr>

                    <!-- itens de os - inicio -->
                    <div class="container row">
                    <h2 align="left">Itens</h2>
                    </div>
                    <div class="container row">
                        <button type="submit" ng-click="mostraModalIncluiItem()" class="btn btn-success">Incluir item</button>
                    </div>
                    <br>
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="7 align="right">Pesquisar Itens: <input type="text" ng-model="pesquisaItens" id="pesquisaItens" placeholder="Pesquisa de Itens..."></td>
                        </tr>
                        <tr>
                            <td><b>Produto</b></td>
                            <td align="right"><b>Quantidade</b></td>
                            <td align="right"><b>Valor unitário</b></td>
                            <td align="right"><b>Valor total</b></td>
                            <td><b>Kit</b></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="itensTabela in itens | filter:pesquisaItens" >
                            <td>{{itensTabela.produtoModel.nomeProduto}}</td>
                            <td align="right">{{itensTabela.qtd}}</td>
                            <td align="right">{{itensTabela.valorUnit | currency : "R$ "}}</td>
                            <td align="right">{{itensTabela.vlrTotal | currency : "R$ "}}</td>
                            <td>{{itensTabela.kitModel.nomeKit}}
                            <td align="right"><button type="submit" ng-click="excluirItem(itensTabela)" class="btn btn-danger">Remover item</button></td>
                        </tr>
                    </table>
                    <div align="center">
                        <button type="submit" ng-click="salvar()" class="btn btn-primary">Salvar OS</button>
                        <button type="submit" ng-click="encerrarOs()" class="btn btn-primary">Encerrar OS</button>
                    </div>
                
                <!-- itens de os - fim -->
                    
                    
                </div>
                <!-- Aba Cadastro - Fim -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
            <!-- aba de abas(conteudos) - fim-->
        </div>
        <!-- container principal - fim -->

    </form>

    <!-- FOOTER -->
    <br>
    <br>
    <footer class="container">
    
        <!--
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>

    <!-- Modal - Pesquisa parceiro - inicio-->
    <div class="modal fade" id="modalPesquisaParceiro" tabindex="-2" role="dialog" aria-labelledby="modalPesquisaParceiro" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLancarProdutosEstoque">Pesquisar parceiro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-hover">
                <tr>
                    <td colspan="5" align="right">Pesquisar parceiros: <input type="text" ng-model="pesquisaParceiro" id="pesquisa" placeholder="Pesquisa de parceiros..."></td>
                </tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <tr data-dismiss="modal" aria-label="Close" ng-repeat="parceirosTabela in parceiros | filter:pesquisaParceiro" ng-click="buscaParceiro(parceirosTabela)">
                    <td>{{parceirosTabela.codParceiro}}</td>
                    <td>{{parceirosTabela.nomeParceiro}}</td>
                    <td>{{parceirosTabela.telefone}}</td>
                    <td>{{parceirosTabela.email}}</td>
                </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - Pesquisa parceiro - fim-->
    
    <!-- Modal - Pesquisa carro - inicio-->
    <div class="modal fade" id="modalPesquisaCarro" tabindex="-1" role="dialog" aria-labelledby="modalPesquisaCarro" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLancarProdutosEstoque">Lançar produto no estoque</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-hover">
                  <tr>
                      <td colspan="5" align="right">Pesquisar modelos:
                          <input type="text" ng-model="pesquisaModelo" id="pesquisa" placeholder="Pesquisa de modelos...">
                      </td>
                  </tr>
                  <th>Código</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Nº de portas</th>
                  <th>Ano</th>
                  <tr class="chamaAba" data-dismiss="modal" aria-label="Close" ng-repeat="modelosTabela in modelos | filter:pesquisaModelo" ng-click="pesquisaCarro(modelosTabela)" >
                      <td>{{modelosTabela.codModelo}} </td>
                      <td>{{modelosTabela.nomeModelo}}</td>
                      <td>{{modelosTabela.marcaModel.nomeMarca}}</td>
                      <td>{{modelosTabela.qtdPortas}}</td>
                      <td>{{modelosTabela.ano}}</td>
                  </tr>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - Pesquisa carro - fim-->

    <!-- Modal - Inclui itens - inicio-->
    <div class="modal fade" id="modalIncluiItem" tabindex="-2" role="dialog" aria-labelledby="modalIncluiItem" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalIncluiItem">Selecione o Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="form-group row">
                    <label align="right" for="nomeItem" class="col-sm-2 col-form-label"><span class="obg">*</span>Item:</label>
                    <div class="col-8">
                        <input type="text" disabled class="form-control" id="nomeItem">
                    </div>
                    <div class="col-sm-2" align="left">
                        <button class="btn" id="dropdownPesquisaItem"  ng-click="mostraModalSelecionaItem();listarItensEstoque()">Pesquisar</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label align="right" for="qtdItem" class="col-sm-2 col-form-label"><span class="obg">*</span>Quantidade:</label>
                    <div class="col-2">
                        <input type="text" class="form-control" ng-model="itemOs.qtd" id="qtdItem">
                    </div>
                    <label align="right" for="valorUnit" class="col-sm-3 col-form-label"><span class="obg">*</span>Valor unitário:</label>
                    <div class="col-3">
                        <input type="text" class="money form-control" ng-model="itemOs.valorUnit" id="valorUnit">
                    </div>
                </div>
                <div class="form-group row">
                    <label align="right" for="kit" class="col-sm-2 col-form-label">Kit:</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="itemOs.kitModel" id="kit"
                            ng-options="kit.nomeKit for kit in kits track by kit.codKit">
                        </select>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="salvarItem()">Incluir Item</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - inclui itens - fim-->
    
    <!-- Modal - Seleciona item - inicio-->
    <div class="modal fade" id="modalSelecionaItem" tabindex="-2" role="dialog" aria-labelledby="modalSelecionaItem" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tituloModalSelecionaItem">Estoque de Itens</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <table class="table table-striped table-hover">
                 <tr>
                     <td colspan="5" align="right">Pesquisar produtos:
                         <input type="text" ng-model="pesquisaProduto" id="pesquisa" placeholder="Pesquisa de produtos...">
                     </td>
                 </tr>
                 <th>Código</th>
                 <th>Produto</th>
                 <th>Carro</th>
                 <th>Porta</th>
                 <th>Tipo</th>
                 <tr ng-repeat="estoqueTabela in itensEstoque | filter:pesquisaProduto" ng-dblclick="selecionaItem(estoqueTabela)">
                     <td>{{estoqueTabela.codProduto}} </td>
                     <td>{{estoqueTabela.nomeProduto}}</td>
                     <td>{{estoqueTabela.modeloModel.nomeModelo}} / {{estoqueTabela.modeloModel.qtdPortas}}P / {{estoqueTabela.modeloModel.ano}}</td>
                     <td>{{estoqueTabela.porta}}</td>
                     <td>{{estoqueTabela.tipoProduto}}</td>
                 </tr>
             </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - seleciona Item - fim-->
    
    <!-- Modal - mensagens - inicio-->
    <div class="modal fade" id="modalMensagens" tabindex="-1" role="dialog" aria-labelledby="modalMensagens" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pTitulo"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="pMsg"></p>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="fecharModalMensagens()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - mensagens - fim-->
    
    <!-- Modal - mensagens - inicio-->
    <div class="modal fade" id="modalEncerraOs" tabindex="-1" role="dialog" aria-labelledby="modalMensagens" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pTitulo">Mensagem!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="pMsg">Ordem de serviço encerrada com sucesso!</p>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="fecharModelEncerraOs()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - mensagens - fim-->
    

    <!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/jquery.maskMoney.js" type="text/javascript"></script> 
</body>
</html>
