<!doctype html>
<html lang="en" ng-app="produtosModulo">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.ico">

    <title>Maverick!</title>
    <!-- link API angular 1.13-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.min.js"></script>

    <!--produtosController-->
    <script src="controller/produtosController.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/oficinaEstilos.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- bicliotecas do java script/ jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- link produtos.js -->
    <script src="js/produtos.js"></script>

</head>

<body ng-controller="produtosController">
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MAVERICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="clientes.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usuarios.html" ng-if="perfil == 'admin'" >Usuarios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEstoque" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Estoque
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownEstoque">
                            <a class="dropdown-item" href="produtos.html">Produtos</a>
                            <a class="dropdown-item" href="estoques.html">Estoque</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Carros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                          <a class="dropdown-item" href="marcas.html">Marcas</a>
                          <a class="dropdown-item" href="modelos.html">Modelos</a>
                        </div>
                      </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ordem de Serviço(OS)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                            <a class="dropdown-item" href="lancaros.html">Lançar OS</a>
                            <a class="dropdown-item" href="ospendente.html">OS abertas</a>
                            <a class="dropdown-item" href="osencerradas.html">OS fechadas</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn btn-outline-warning" ng-click="sair()">Sair</a>
        </nav>
        
    </header>

    <form>
        <br>
        <div class="container">
            <!-- container principal - inicio -->
            <h1 align="center">Produtos</h1>
            <br>
            <nav><!--div de abas(titulos) - inicio -->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-lista-tab" data-toggle="tab" href="#nav-lista" ng-click="listarProdutos()" role="tab" aria-controls="nav-home" aria-selected="true">Lista</a>
                    <a class="nav-item nav-link" id="nav-cadastro-tab" data-toggle="tab" href="#nav-cadastro" ng-click="limparCampos()" role="tab" aria-controls="nav-profile" aria-selected="false">Cadastro</a>
                </div>
                <!--div de abas - fim -->
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- aba de abas(conteudos) - inicio-->
                <div class="tab-pane fade show active" id="nav-lista" role="tabpanel" aria-labelledby="nav-lista-tab">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="7" align="right">Pesquisar produtos:
                                <input type="text" ng-model="pesquisaProduto" id="pesquisa" placeholder="Pesquisa de produtos...">
                            </td>
                        </tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Carro</th>
                        <th>Porta</th>
                        <th>Tipo</th>
                        <tr class="chamaAba" onclick="chamaAba()" ng-repeat="produtosTabela in produtos | filter:pesquisaProduto" ng-dblclick="selecionaProduto(produtosTabela)">
                            <td>{{produtosTabela.codProduto}} </td>
                            <td>{{produtosTabela.nomeProduto}}</td>
                            <td>{{produtosTabela.modeloModel.nomeModelo}} / {{produtosTabela.modeloModel.qtdPortas}}P / {{produtosTabela.modeloModel.ano}}</td>
                            <td>{{produtosTabela.porta}}</td>
                            <td>{{produtosTabela.tipoProduto}}</td>
                            
                        </tr>
                    </table>
                </div>

                <!-- Aba Cadastro - Inicio -->
                <div class="tab-pane fade" id="nav-cadastro" role="tabpanel" aria-labelledby="nav-cadastro-tab">
                    <br>
                    <div class="form-group row">
                        <label align="right" for="codProduto" class="col-sm-1 col-form-label">Código:</label>
                        <div class="col-sm-1">
                            <input type="number" disabled ng-model="produto.codProduto" class="form-control" id="codProduto">
                        </div>
                        <label align="right" for="novo_semi" class="col-sm-1 col-form-label"><span class="obg">*</span>Uso:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="col-md-4 col-lg-3 col-xl-2 form-control" id="novo_semi" ng-init="produto.tipoProduto='N'">
                            <label class="radio-inline"><input ng-model="produto.tipoProduto" class="novo_semi" value="NOVO" type="radio" id="novo"> Novo &nbsp;</label>
                            <label class="radio-inline"><input ng-model="produto.tipoProduto" class="novo_semi" value="SEMI-NOVO" type="radio" id="semi"> Semi-novo</label>
                        </div>
                        <label align="right" class="col-sm-1 col-form-label" for="ano" ><span class="obg">*</span>Porta:</label>
                        <div class="col-md-2 col-lg-2 col-xl-3">
                            <select class="form-control" ng-model="produto.porta">
                                <option value="D" id="DI">Direita(2p)</option>
                                <option value="E" id="ES">Esquerda(2p)</option>
                                <option value="DD" id="DD">Dianteira direita(4p)</option>
                                <option value="DE" id="DE">Dianteira esquerda(4p)</option>
                                <option value="TD" id="TD">Traseira direita(4p)</option>
                                <option value="TE" id="TE">Traseira esquerda(4p)</option>
                                <option value="PM" id="PM">Porta-Malas</option>
                                <option value="U" id="U">Universal</option>
                            </select>
                        </div>
                        <!-- /*botão de atualizar estoque será levado para a tela de estoque*/
                        <div class="col-md-2 col-lg-2 col-xl-3">
                            <div class="dropdown" align="right">
                              <button class="btn btn-secondary dropdown-toggle col-sm-8" type="button" ng-disabled="!produto.codProduto" id="dropdownProdutoAcao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ações
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" ng-click="abrirModalLancarProdutoEstoque()" data-target="#lancarProtudosEstoque"href="#" >Atualizar estoque</a>
                              </div>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="form-group row">
                        <label align="right" for="nomeProduto" class="col-sm-1 col-form-label"><span class="obg">*</span>Produto:</label>
                        <div class="col-11">
                            <input type="text" ng-model="produto.nomeProduto" class="form-control" id="nomeProduto">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label align="right" for="carro" class="col-sm-1 col-form-label"><span class="obg">*</span>Carro:</label>
                        <div class="col-sm-1">
                            <input type="number" disabled ng-model="produto.modeloModel.codModelo"  class="form-control" id="codModeloCar">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" disabled class="form-control" id="nomeModeloCar" >
                        </div>
                        
                        <div class="col-sm-2" align="left">
                            <button class="btn" id="dropdownPesquisaCarro"  data-toggle="modal" data-target="#modalPesquisaCarro" >Pesquisar</button>
                        </div>
                    </div>
                    <hr>
                    <!-- 
                    <div class="form-group row">
                        <label align="right" for="Estoque" class="col-sm-1 col-form-label">Quantidade:</label>
                        <div class="col-2">
                            <div class="form-control" style="background-color:#e9ecef" id="qtdEstoque">{{produto.qtdEstoque}}</div>
                        </div>
                        <label align="right" for="vlrPagoProduto" class="col-sm-1.5 col-form-label">Comprado por:</label>
                        <div class="col-2" >
                            <div class="form-control" style="background-color:#e9ecef" id="vlrPagoProduto">{{produto.vlrPago | currency : "R$ "}} </div>
                        </div>
                        <label align="right" for="vlrVenderProduto" class="col-sm-1.5 col-form-label">Vender por:</label>
                        <div class="col-2" >
                            <div class="form-control" style="background-color:#e9ecef" id="vlrVenderProduto">{{produto.vlrVenda | currency : "R$ "}} </div>
                        </div>
                    </div>
                    -->
                    <div class="form-group row">
                        <label  for="obs" class="col-sm-1 col-form-label">Observação:</label>
                        <div class="col-sm-11" >
                            <textarea class="form-control" ng-model="produto.observacao" id="obs"></textarea>
                        </div>
                    </div>
                    
                    <br>
                    <div align="center">
                        <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
                        <button type="submit" ng-click="salvar()" class="btn btn-primary">Salvar</button>
                        <!-- <button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>  -->         
                    </div>
                </div>
                <!-- Aba Cadastro - Fim -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
            <!-- aba de abas(conteudos) - fim-->
        </div>
        <!-- container principal - fim -->
    </form>

    <!-- Modal - Lançar estoque - inicio-->
    <div class="modal fade" id="lancarProdutosEstoque" tabindex="-1" role="dialog" aria-labelledby="modalLancarProdutosEstoque" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLancarProdutosEstoque">Atualizar produto no estoque</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                    <label align="left" for="modalQtdProduto" class="col-md-3 col-form-label"><span class="obg">*</span>Quantidade:</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="modalQtdProduto" >
                    </div>
                
                    <label align="left" for="modalVlrPago" class="col-md-7 col-form-label">Valor de compra(R$):</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control money" id="modalVlrPago">
                    </div>
                    
                    <label align="left" for="modalQtdVenda" class="col-md-7 col-form-label">Valor de venda(R$):</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control money" id="modalVlrVenda">
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="fecharModalLancarProdutoEstoque" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="lancarEstoque()" >Atualizar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - Lançar estoque - fim-->
    
    <!-- Modal - Pesquisa carro - inicio-->
    <div class="modal fade" id="modalPesquisaCarro" tabindex="-1" role="dialog" aria-labelledby="modalPesquisaCarro" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLancarProdutosEstoque">Lançar produto no estoque</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-hover">
                  <tr>
                      <td colspan="5" align="right">Pesquisar modelos:
                          <input type="text" ng-model="pesquisaModelo" id="pesquisa" placeholder="Pesquisa de modelos...">
                      </td>
                  </tr>
                  <th>Código</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Nº de portas</th>
                  <th>Ano</th>
                  <tr class="chamaAba" data-dismiss="modal" aria-label="Close" ng-repeat="modelosTabela in modelos | filter:pesquisaModelo" ng-click="pesquisaCarro(modelosTabela)" >
                      <td>{{modelosTabela.codModelo}} </td>
                      <td>{{modelosTabela.nomeModelo}}</td>
                      <td>{{modelosTabela.marcaModel.nomeMarca}}</td>
                      <td>{{modelosTabela.qtdPortas}}</td>
                      <td>{{modelosTabela.ano}}</td>
                  </tr>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - Pesquisa carro - fim-->


    <!-- FOOTER -->
    <br>
    <br>
    <footer class="container"> <!-- 
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>

    <!-- Modal - mensagens - inicio-->
    <div class="modal fade" id="modalMensagens" tabindex="-1" role="dialog" aria-labelledby="modalMensagens" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pTitulo"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="pMsg"></p>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="fecharModalMensagens()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal - mensagens - fim-->

    <!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/locastyle.js"></script>
    <!-- biblioteca jQuery para mascara de dinheiro -->
    <script src="js/jquery.maskMoney.js" type="text/javascript"></script>  


</body>

</html> 