<!doctype html>
<html lang="en" ng-app="produtosModulo">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.ico">

    <title>Maverick!</title>
    <!-- link API angular 1.13-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!--modelosController-->
    <script src="controller/produtosController.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/oficinaEstilos.css" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- bicliotecas do java script/ jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- link modelos.js -->
    <script src="js/produtos.js"></script>
</head>

<body ng-controller="produtosController">
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MAVERICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Clientes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarCadastro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
                        <div class="dropdown-menu" aria-labelledby="navbarCadastro">
                            <a class="dropdown-item" href="#"> Cliente</a>
                            <a class="dropdown-item" href="#"> Estoque</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"> Estado</a>
                            <a class="dropdown-item" href="cidades.html"> Cidade</a>
                            <a class="dropdown-item" href="#"> Bairro</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Estoque</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ordem de Serviço(OS)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownOS">
                            <a class="dropdown-item" href="#">Lançar OS</a>
                            <a class="dropdown-item" href="#">OS abertas</a>
                            <a class="dropdown-item" href="#">OS fechadas</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <form>
        <br>
        <div class="container">
            <!-- container principal - inicio -->
            <h1 align="center">Produtos</h1>
            <br>
            <nav><!--div de abas(titulos) - inicio -->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-lista-tab" data-toggle="tab" href="#nav-lista" role="tab" aria-controls="nav-home" aria-selected="true">Lista</a>
                    <a class="nav-item nav-link" id="nav-cadastro-tab" data-toggle="tab" href="#nav-cadastro" role="tab" aria-controls="nav-profile" aria-selected="false">Cadastro</a>
                </div>
                <!--div de abas - fim -->
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- aba de abas(conteudos) - inicio-->
                <div class="tab-pane fade show active" id="nav-lista" role="tabpanel" aria-labelledby="nav-lista-tab">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td colspan="5" align="right">Pesquisar produtos:
                                <input type="text" ng-model="pesquisaModelo" id="pesquisa" placeholder="Pesquisa de produtos...">
                            </td>
                        </tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Carro</th>
                        <th>Porta</th>
                        <th>Tipo</th>
                        <tr class="chamaAba" onclick="chamaAba()" ng-repeat="produtosTabela in produtos | filter:pesquisaModelo" ng-dblclick="selecionaProduto(produtosTabela)">
                            <td>{{produtosTabela.codProduto}} </td>
                            <td>{{produtosTabela.nomeProduto}}</td>
                            <td>{{produtosTabela.modeloModel.nomeModelo}}</td>
                            <td>{{produtosTabela.porta}}</td>
                            <td>{{produtosTabela.tipoProduto}}</td>
                        </tr>
                    </table>
                </div>

                <!-- Aba Cadastro - Inicio -->
                <div class="tab-pane fade" id="nav-cadastro" role="tabpanel" aria-labelledby="nav-cadastro-tab">
                    <br>
                    <div class="form-group row">
                        <label align="right" for="codProduto" class="col-sm-1 col-form-label">Código:</label>
                        <div class="col-sm-1">
                            <input type="number" disabled ng-model="produto.codProduto" class="form-control" id="codProduto">
                        </div>
                        <label align="right" for="novo_semi" class="col-sm-1 col-form-label"><span class="obg">*</span>Uso:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="col-sm-2 form-control" id="novo_semi">
                            <label class="radio-inline"><input ng-model="produto.tipoProduto" class="novo_semi" value="N" type="radio" id="novo"> Novo &nbsp;</label>
                            <label class="radio-inline"><input ng-model="produto.tipoProduto" class="novo_semi" value="S" type="radio" id="semi"> Semi-novo</label>
                        </div>
                        <label align="right" class="col-sm-1 col-form-label" for="ano" ><span class="obg">*</span>Porta:</label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="produto.porta">
                                <option value="DI" id="DI">Direita(2p)</option>
                                <option value="ES" id="ES">Esquerda(2p)</option>
                                <option value="DD" id="DD">Dianteira direita(4p)</option>
                                <option value="DE" id="DE">Dianteira esquerda(4p)</option>
                                <option value="TD" id=TD>Traseira direita(4p)</option>
                                <option value="TE" id="TE">Traseira esquerda(4p)</option>
                                <option value="PM" id="PM">Porta-Malas</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
	                        <div class="dropdown" align="right">
							  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownProdutoAcao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Ações
							  </button>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <a class="dropdown-item" data-toggle="modal" data-target="#lancarProtudosEstoque" href="#">Lançar estoque</a>
							  </div>
							</div>
						</div>
                    </div>
                    <div class="form-group row">
                        <label align="right" for="nomeProduto" class="col-sm-1 col-form-label"><span class="obg">*</span>Produto:</label>
                        <div class="col-8">
                            <input type="text" ng-model="produto.nomeProduto" class="form-control" id="nomeProduto">
                        </div>
                         <label align="right" for="carro" class="col-sm-1 col-form-label"><span class="obg">*</span>Carro:</label>
                        <div class="col-sm-2">
                          <select class="form-control" ng-model="produto.modeloModel" id="modelo"
                            ng-options="modelo.nomeModelo for modelo in modelos track by modelo.codModelo">
                          </select>      
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  for="obs" class="col-sm-1 col-form-label">Observação:</label>
                        <div class="col-sm-11" >
                            <textarea class="form-control" ng-model="produto.observacao" id="obs"></textarea>
                        </div>
                    </div>

                    <div align="center">
                        <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
                        <button type="submit" ng-click="salvar()" class="btn btn-primary">Salvar</button>
                        <button type="submit" ng-click="excluir()" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
                <!-- Aba Cadastro - Fim -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
            </div>
            <!-- aba de abas(conteudos) - fim-->
        </div>
        <!-- container principal - fim -->
    </form>

	<!-- Modal -->
	<div class="modal fade" id="lancarProtudosEstoque" tabindex="-1" role="dialog" aria-labelledby="modalLancarProdutosEstoque" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalLancarProdutosEstoque">Lançar produto no estoque</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form>
	        	<div class="form-group row">
		        	<label align="right" for="estoqueNomeProduto" class="col-md-3 col-form-label"><span class="obg">*</span>Produto:</label>
	                <div class="col-md-7">
	                    <input type="text" ng-model="estoque.nomeProduto" class="form-control" id="estoqueNomeProduto">
	                </div>
	            </div>
	            <div class="form-group row">
		        	<label align="right" for="qtdProduto" class="col-md-3 col-form-label"><span class="obg">*</span>Quantidade:</label>
	                <div class="col-md-3">
	                    <input type="text" ng-model="estoque.qtdProduto" class="form-control" id="qtdProduto">
	                </div>
	            </div>
	            <div class="form-group row">
	                <label align="right" for="vlrUnitario" class="col-md-3 col-form-label"><span class="obg">*</span>Valor Unitário:</label>
	                <div class="col-md-3">
	                    <input type="text" ng-model="vlrUnitario" class="form-control" id="vlrUnitario">
	                </div>
	            </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>


    <!-- FOOTER -->
    <br>
    <br>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    <!-- Bootstrap core JavaScript================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>

</html>