#codigo{
   -moz-appearance: textfield;
   appearance: textfield;
}

div{
	border: 0px solid;
}

.obg{
	color:red;
}

.tableScrollX{
	width: 100%;
	overflow:auto;
}

#loading-block{
	width: 100%;
	min-height: 1200px;
	position: absolute;
	background-color: white;
	display: none;
	opacity: 80%;
	z-index: 2;
}

.pagButton{
	margin: 0px 0px 0px 2px;
	border: 1px solid #0284D0;
	border-radius: 10px;
	width:50px;
	height:30px; 
	text-align:center;
}

#loading-gif{
	position: fixed;
	margin-left: 10%;
	margin-top: 10%;
	display:none;
	z-index: 3;
}

.pagList :hover {
	background-color: #00BFFF;
	border-radius: 10px;
}

.pagButtonAtive{
	background-color: #00BFFF; /* #0284D0; */
}